@page "/articles"

<h3>Articles</h3>


<div>
    <div>
        <div class=" card-background card mb-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-left">
                    <label style="font-size:23px;color:steelblue;">Artykuł 1</label>
                </h4>
            </div>

            <div class="card-body card-background" style="background-color:#F7F7F7">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <label style="font-size:18px; color:#000000">
                            <b>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet lobortis quam. Pellentesque eu sem quis lectus hendrerit suscipit. Vivamus sodales laoreet mauris a accumsan. Fusce at odio eget diam faucibus vehicula. Suspendisse potenti. Ut commodo turpis in lectus pulvinar dapibus. Donec quis ex ornare, tempor lacus non, interdum lorem. Aliquam eleifend metus enim, vel suscipit metus finibus id. Etiam varius felis non orci congue egestas. Suspendisse a massa efficitur mauris tincidunt euismod at et arcu. Aenean accumsan nisi eu gravida finibus. Duis eu nunc bibendum, eleifend est vitae, interdum dolor. Proin pulvinar ligula at tempus tempus.

                                Duis sagittis, libero eget hendrerit auctor, sapien nibh elementum lacus, in pulvinar turpis orci vitae leo. Nunc in turpis ac dolor hendrerit feugiat. Quisque non dolor tortor. Nam suscipit, diam dictum iaculis cursus, ipsum ipsum porttitor mauris, quis vehicula libero sapien in mi. Vivamus eu ultrices massa. Nunc eu semper nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit interdum est, in accumsan leo lobortis sed. Pellentesque pharetra convallis faucibus. Maecenas pellentesque sagittis varius. Etiam pretium erat nulla, sit amet molestie ligula sodales suscipit. Integer ut erat porttitor nibh ornare dignissim finibus ac odio. Aliquam finibus et nulla non dapibus.

                                Nullam a dui erat. Mauris nibh sapien, finibus sed venenatis sagittis, dignissim sed mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut semper placerat pulvinar. Nam sed leo nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce et scelerisque felis. In tincidunt turpis bibendum iaculis lacinia. Vivamus quam lectus, interdum sed facilisis ac, maximus eget lacus.
                            </b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div>
            <div class=" card-background card mb-4">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal text-left">
                        <label style="font-size:23px;color:steelblue;">Artykuł 2</label>
                    </h4>
                </div>

                <div class="card-body card-background" style="background-color:#F7F7F7">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <label style="font-size:18px; color:#000000">
                                <b>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet lobortis quam. Pellentesque eu sem quis lectus hendrerit suscipit. Vivamus sodales laoreet mauris a accumsan. Fusce at odio eget diam faucibus vehicula. Suspendisse potenti. Ut commodo turpis in lectus pulvinar dapibus. Donec quis ex ornare, tempor lacus non, interdum lorem. Aliquam eleifend metus enim, vel suscipit metus finibus id. Etiam varius felis non orci congue egestas. Suspendisse a massa efficitur mauris tincidunt euismod at et arcu. Aenean accumsan nisi eu gravida finibus. Duis eu nunc bibendum, eleifend est vitae, interdum dolor. Proin pulvinar ligula at tempus tempus.

                                    Duis sagittis, libero eget hendrerit auctor, sapien nibh elementum lacus, in pulvinar turpis orci vitae leo. Nunc in turpis ac dolor hendrerit feugiat. Quisque non dolor tortor. Nam suscipit, diam dictum iaculis cursus, ipsum ipsum porttitor mauris, quis vehicula libero sapien in mi. Vivamus eu ultrices massa. Nunc eu semper nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed blandit interdum est, in accumsan leo lobortis sed. Pellentesque pharetra convallis faucibus. Maecenas pellentesque sagittis varius. Etiam pretium erat nulla, sit amet molestie ligula sodales suscipit. Integer ut erat porttitor nibh ornare dignissim finibus ac odio. Aliquam finibus et nulla non dapibus.

                                    Nullam a dui erat. Mauris nibh sapien, finibus sed venenatis sagittis, dignissim sed mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut semper placerat pulvinar. Nam sed leo nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce et scelerisque felis. In tincidunt turpis bibendum iaculis lacinia. Vivamus quam lectus, interdum sed facilisis ac, maximus eget lacus.
                                </b>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>

    </div>



    @code {

    }
