@page "/"

<h1>Moja kawiarnia</h1>
<p>
    <img src="https://lh3.googleusercontent.com/proxy/sVJZBby74WbRe4s2GkpI-jHKlFU9YHFroTKn3Be0KkVbVjRV96meoZSn8mPe_nEGEzkG2xzc9hEyPLTz2x0336q-jXU-qAyGRhsXGsl0sqrMELMsK5skoBx1w_4cbHqVDqmPPFsYw6kaO9TrWFGxfhxedhdVlRcTOUalb__UVxhpAQ" alt="W3Schools.com">
</p>
<p>
Witaj na stronie naszej kawiarni.

</p>
