@page "/prices"

<h3>Cennik</h3>

<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Espresso</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>5</b></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Cafe Latte</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>7</b></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Cappucino</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>8</b></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Flat White</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>10</b></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Mocha</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>9</b></label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" card-background card mb-4">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal text-center">
                <label style="font-size:23px;color:steelblue;">Herbata</label>
            </h4>
        </div>

        <div class="card-body card-background" style="background-color:#F7F7F7">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <label style="font-size:20px; color:#a51313"><b>5</b></label>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
